<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="controller_action_catalog_product_save_entity_after">
		<observer instance="Ocode\S3Digital\Observer\Catalog\Product\Uploadfiles" name="s3amazon_product_save_after"/>
	</event>
</config>